body {
    background-color: #000033;
    margin: 0;
    padding: 0;
}

#wrapper {
    margin-left: 150px;
    margin-right: 150px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: white;
    color: #333333;
    min-height: 100vh; 
    border-left: solid gold 10px; 
    border-right: solid gold 10px; 
}


#header {
    width: 100%;
    height: 50px;
    background: #000033;
    border: solid #CCCCCC thin;
    border-bottom: solid gold 10px;
    border-top: solid gold 10px;
    padding-top: 20px;
    text-align: center;
}


a.button {
    padding: 6px;
    border: 1px outset buttonborder;
    border-radius: 7px;
    color: black;
    background-color: azure;
    text-decoration: none;
    margin: 20px;
}


#pageContent {
    color: #333333;
    line-height: 1.6;
    width: 95%;
    height: auto;       
    min-height: 700px;  
    padding-left: 15px;
}

#pageContent ul {
    list-style: disc;
    padding-left: 1.25rem;
    max-width: 800px;
}

#pageContent li {
    display: flow-root;
    margin-bottom: 12px;
    line-height: 1.5;
    padding-bottom: 10px;
}

#pageContent ul img {
    float: right;
    width: 150px;
    height: auto;
    margin: 0 0 8px 12px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px dashed coral;
}

#pageContent img {
    width: 70%;
}


#content h2 {
    color: coral;
    padding-left: 5px;
}

#content h3 {
    color: lightcoral;
    margin-left: 1px;
}


#footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    background: gold;
    border: solid #CCCCCC thin;
    border-top: none;
    padding: 10px 0;
}

#footer p {
    margin: 0;
    padding-left: 10px;
}


#menu img {
    margin-left: 18px;
    width: 90%;
    margin-top: 20px;
}

